.realization {
	position: relative;
	//height: 520px;
	background:$green;
	margin-top: 100px;
	padding-top: 128px;
	.top-page {
		position: absolute;
		left:50%;
 		margin-left:-385px;
		top: -122px;
	}

	.organizer-list {

		.organizer-item {
			border-radius: 4px;
			overflow: hidden;
			background-color: $dark-gray;
			.organizer-photo {
				.photo {
					border-bottom: 1px solid $dark-green;
					height: auto;
				}
			}

			.organizer-about {
				text-align: center;
				font-size: 12px;
				color: $white;
				position: relative;

				.organizer-title {
					border-radius: 3px;
					font-size: 12px;
					position: relative;
					background: $green;
					margin-top: -27px;
					text-align: center;
					line-height: 38px;
				}

				.organizer-participation-job {
					line-height: 38px;
					//margin-top: 20px;
				}

				.organizer-social {
					border-top: 1px solid #484848;
					margin: 0;
					padding: 0;
					box-sizing: border-box;

					li {
						a {
							color: $white;
							text-decoration: none;
							-webkit-transition: all 500ms;
							-moz-transition: all 500ms;
							-ms-transition: all 500ms;
							-o-transition: all 500ms;
							transition: all 500ms;
							
							&:hover {
								color: $yellow;
							}

						}
						.icon-twitter:before { 
							content: '\e801'; 
							}
						.icon-facebook:before { 
							content: '\e802'; 
							}


						&:first-child {
							border-right:1px solid #484848;
						}
					}

				}

			}

		}
		
	}

}