.realization {
	position: relative;
	height: 520px;
	background:$green;
	margin-top: 100px;
	padding-top: 128px;
	.top-page {
		position: absolute;
		left:50%;
 		margin-left:-385px;
		top: -122px;
	}

	.organizer-about {
		background: $dark-gray;
		color: $white;
		position: relative;
	}

	.organizer-title {
		position: absolute;
		background: $green;
		top: -20px;
	}
}