.schedule {
	i {
		background-position: -168px -10px;
	}

	.clr {
		clear: both;
	}

	.schedule-item {
		margin-bottom: 30px;
		color: $white;
		font-weight: bold;

		.speech-time {
			background-color: $blue;
		}

		span{
			background-color: $yellow;
			border-radius: 8px;
			line-height: 68px;
			text-align: center;
		}

		.speaker {
			background-color: $green;

			figure {
				width: 70px;
				height: 70px;
				border-right: 2px solid $dark-green;
				overflow: hidden;
				background-color: #ccc;
				margin-right: 20px;
				position: relative;
				float: left;
				border-radius: 8px 0px 0px 8px;
				border-sizing: border-box;

				img {
					width: 100%;
				}
			}

			.speaker-name {
				text-align: left;
				background-color: transparent;
				border-radius: 0;
				float: left;
			}
		}

		.speech-title {
			background-color: $green;
			font-size: 12px;
			color: $blue;
			font-weight: normal;
			text-align: left;
			padding: 17px 20px;
			line-height: 17px;
		}
	}
}
