//Color declaration

$white: rgb(255,255,255); 
$blue: rgb(42,61,81);
$dark-blue: rgb(35,50,67);
$green: rgb(26,188,156);
$dark-green: rgb(22,160,133);
$yellow: rgb(240,197,20);
$dark-yellow: rgb(255,194,14);
$orange: rgb(243,156,18);
$gray: rgb(231,231,231);
$gray: rgb(239,239,239);
$dark-gray: rgb(45,47,49);

//Color box

.blue {
	background-color: $blue;
}

.yellow {
	background-color: $yellow;
}

.green {
	background-color: $green;
}