//Definindo as cores
$branco: rgb(255,255,255);
$azul: rgb(42,61,81);
$azul-escuro: rgb(35,50,67);
$verde: rgb(26,188,56);
$verde-escuro: rgb(22,160,133);
$amarelo: rgb(240,197,20);
$laranja: rgb(243,156,18);
$cinza: rgb(231,231,231);
