//Color declaration

$white: rgb(255,255,255); 
$blue: rgb(42,61,81);
$dark-blue: rgb(35,50,67);
$green: rgb(26,188,156);
$dark-green: rgb(22,160,133);
$yellow: rgb(240,197,20);
$orange: rgb(243,156,18);
$gray: rgb(231,231,231);