.lighting-talks {
	position: relative;
	height: 662px;
	background:$yellow;
	border-top: 5px solid $orange;
	border-bottom: 5px solid $orange;
	margin-top: 100px;
	padding-top: 130px;
	.top-page {
		position: absolute;
		left:50%;
 		margin-left:-385px;
		top: -122px;
	}

	i.popcorn {
		background: url('../images/website/popcorn.png');
		width: 147px;
		height: 239px;
		display: block;
		position: absolute;
		bottom: -30px;
		left: 50%;
		margin-left:-64px;
	}

	.description-box {
		font-size: 19px;
		color: $white;
		//max-width: 630px;
		margin: 0 auto;
		text-align: center;
		font-weight: bold;
		margin-bottom: 50px;
		span {
			color: $dark-blue;
		}
	}

	.submit-box {
		border: 3px $orange solid;
		border-radius: 6px;
		//max-width: 630px;
		margin: 0 auto;
		padding: 32px 26px 60px 26px;
		font-size: 16px;
		color: $dark-blue;
		position: relative;
		text-align: center;
		span {
			font-style: italic;
		}
		a {
			background-color: $green;
			color: $white;
			display: block;
			position: absolute;
			padding: 20px 20px;
			border-radius: 6px;
			bottom: -34px;
			left: 50%;
			width: 316px;
			margin-left: -158px;
			font-weight: bold;
			text-decoration: none;
			font-size: 16px;
			text-align: center;
			border-bottom: 2px solid $dark-green;
			-webkit-transition: all 500ms;
			-moz-transition: all 500ms;
			-ms-transition: all 500ms;
			-o-transition: all 500ms;
			transition: all 500ms;
			&:hover {
				background-color: #1dcaa8;
				text-shadow: 1px 1px $dark-green;
			}
		}
	}
}


.adapter {
	padding-top: 20px;
}