@import url(http://fonts.googleapis.com/css?family=Raleway:700,100);

body,html {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
body {
	background: #63727f;
}
.top-bar {
	background: #e44d26;
	width: 100%;
	height: 22px;
}
.sub-line-top-bar {
	background: #FFF;
	height: 14px;
	margin-bottom: 5px;
	width: 100%;
	box-shadow: 1px 1px 5px #000000;
}

.logos {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 500px;

}
.logos img {
	width: 100%;
}

.share {
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
}
.share h1 {
	font-weight: bold;
	display: inline-block;
	margin: 0;
	font-size: 40px;
	padding: 0 0 10px 0;
	max-width: 700px;
}
.share h2 {
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.links {
	text-align: center;
	padding-top: 30px;
}
.links div {
	display: inline-block;
}

.links .tw {

}
.links .fb {
	padding-right: 50px;
	padding-left: 50px;
}